<div class="pagination">
    <a href="#"
        class="pagination__button pagination__button--big pagination__button--gray pagination__button--shadowed">Показать
        еще</a>
    <div class="pagination__row">
        <a href="#" class="pagination__button pagination__button--shadowed">&#8249;</a>

        <span class="pagination__button pagination__button--gray pagination__button--bordered">1</span>

        <a href="#" class="pagination__button pagination__button--bordered">2</a>

        <a href="#" class="pagination__button pagination__button--bordered">3</a>

        <a href="#" class="pagination__button pagination__button--bordered">4</a>

        <a href="#" class="pagination__button pagination__button--shadowed">&#8250;</a>
    </div>
</div>