<button class="btn" data-uk-toggle="target: #popup-buy" type="button">Попапчик 'Купить в 1 клик'</button>

<div id="popup-buy" class="uk-flex-top popup" data-uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical popup__inner popup__inner--sm">
        <svg class="popup__close uk-modal-close">
            <use xlink:href="img/symbol/sprite.svg#close" />
        </svg>
        <h2 class="title">Купить в 1 клик</h2>
        <p class="popup__text popup__text--mb-20">Оставьте свой номер, мы свяжемся с вами в&nbsp;течении&nbsp;дня.</p>
        <div class="popup__container">
            <div class="card card--micro frame frame--wide-m">
                <div class="card__image-wrap">
                    <img src="img/card-micro-phone.jpg" alt="" class="card__image">
                </div>
                <div class="card__description">
                    <h3 class="card__title">Apple iPhone XS Max Dual SIM 512GB (черный)</h3>
                    <div class="price price--columned">
                        <div class="price__profit price__profit--rowed">
                            <span class="price__old">59&nbsp;990&nbsp;₽</span>
                            <span class="price__discount">-&nbsp;5000&nbsp;₽</span>
                        </div>
                        <span class="price__current price__current--size-md">53&nbsp;990&nbsp;₽</span>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="field__title">Телефон</label>
                <input class="field__input field__input--shaded field__input--radius-12" type="text">
            </div>
        </div>
        <a href="" class="btn btn--bg-green btn--size-lg">Оформить заказ</a>
        <a href="" class="btn btn--border-green btn--color-green btn--size-m">Остались вопросы?</a>
        <a class="contact" href="tel:8 (812) 509-24-80" title="Позвонить">
            <div class="contact__content">
                <p class="contact__text">или позвоните нам по номеру:</p>
                <p class="contact__number">+7 (812) 509-24-80</p>
                <span class="contact__info">С 10:00 до 21:00, без выходных, бесплатно по РФ</span>
            </div>
        </a>
    </div>
</div>