<div class="frame frame--spaced frame--dark frame--bordered specs">
  <table class="table">
    <tbody>
      <tr>
        <td>Операционная система:</td><td>iOS</td>
      </tr>
      <tr>
        <td>Диагональ дисплея:</td><td>6.5"</td>
      </tr>
      <tr>
        <td>Разрешение экрана:</td><td>2688×1242</td>
      </tr>
      <tr>
        <td>Процессор:</td><td>Apple A12 Bionic</td>
      </tr>
      <tr>
        <td>Количество ядер:</td><td>6</td>
      </tr>
      <tr>
        <td>Оперативная память:</td><td>4 Гб</td>
      </tr>
      <tr>
        <td>Встроенная память:</td><td>64 Гб</td>
      </tr>
      <tr>
        <td>Основная камера:</td><td>Двойная: 12 Мп + 12 Мп</td>
      </tr>
      <tr>
        <td>Фронтальная камера:</td><td>7 Мп</td>
      </tr>
      <tr>
        <td>Количество SIM-карт:</td><td>1</td>
      </tr>
      <tr>
        <td>Тип SIM-карты:</td><td>Nano</td>
      </tr>
      <tr>
        <td>Интернет:</td><td>С поддержкой 4G</td>
      </tr>
      <tr>
        <td>Время работы:</td><td>До 25 часов в режиме разговоров</td>
      </tr>
      <tr>
        <td>Вес:</td><td>208 г</td>
      </tr>
      <tr>
        <td>Размеры:</td><td>157,5*77,4*7.7 мм</td>
      </tr>
      <tr>
        <td>Гарантия:</td><td>12 месяцев</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="frame frame--dark frame--bordered specs">
  <h3 class="title title--size-md specs__title">Комплектация</h3>
  <ul class="list list--green">
    <li class="list__item">iPhone XS Max 256 gb золотой</li>
    <li class="list__item">Наушники EarPods</li>
    <li class="list__item">Кабель Lightning</li>
    <li class="list__item">Сетевое зарядное устройство</li>
    <li class="list__item">Скрепка для извлечения SIM-карты</li>
    <li class="list__item">Документация</li>
  </ul>
</div>