<p class="intro intro--spaced-sm">
  Быстрая доставка товаров по Санкт-Петербургу. Доставляем
  покупки в любое удобное для вас время
</p>
<div class="tab-features">
  <div class="feature tab-features__feature">
    <svg class="feature__icon">
      <use xlink:href="img/symbol/sprite.svg#feature-1daydeliver" />
    </svg>
    <div class="feature__content">
      <p class="feature__text">Доставим вашу покупку в день заказа</p>
    </div>
  </div>
  <div class="feature tab-features__feature">
    <svg class="feature__icon">
      <use xlink:href="img/symbol/sprite.svg#feature-1daydeliver" />
    </svg>
    <div class="feature__content">
      <p class="feature__text">Курьер поможет настроить и активировать устройство.</p>
    </div>
  </div>
  <div class="feature tab-features__feature">
    <svg class="feature__icon">
      <use xlink:href="img/symbol/sprite.svg#feature-check" />
    </svg>
    <div class="feature__content">
      <p class="feature__text">Вы оплатите товар только после проверки</p>
    </div>
  </div>
  <div class="feature tab-features__feature">
    <svg class="feature__icon">
      <use xlink:href="img/symbol/sprite.svg#feature-pay" />
    </svg>
    <div class="feature__content">
      <p class="feature__text">У курьера всегда есть сдача и терминал для оплаты</p>
    </div>
  </div>
</div>
<hr>
<h3 class="title title--size-md">Курьерская доставка</h3>
<p class="tab-text">Вы можете забрать товар прямо у своего дома. Курьер довезет ваш заказ до двери за несколько часов
  после заказа.</p>
<ul class="list list--green tab-list">
  <li class="list__item">Отслеживайте статус заказа с помощью смс-оповещений</li>
  <li class="list__item">За час до доставки курьер вас наберет</li>
</ul>
<h3 class="title title--size-md">Самовывоз</h3>
<p class="tab-text">Заберите ваше устройство самостоятельно по адресу, указанному на странице контактов.</p>
<ul class="list list--green tab-list">
  <li class="list__item">Удобно расположенный пункт выдачи</li>
  <li class="list__item">Работаем с 10:00 до 21:00, 7 дней в неделю</li>
</ul>
<hr>
<h3 class="title title--size-md">Оплата наличными</h3>
<p class="tab-text">Оплачивайте товары наличными после полного осмотра</p>
<h3 class="title title--size-md">Безналичный рассчет</h3>
<p class="tab-text">Деньги списываются с расчетного счета предпринимателя (Без НДС)</p>
<h3 class="title title--size-md">Банковской картой</h3>
<p class="tab-text">Наши курьеры всегда носят с собой терминал для оплаты</p>
<h3 class="title title--size-md">В кредит</h3>
<p class="tab-text">Оформляем кредиты по телефону за 5 минут <a href="#" class="link link--green">Подробнее</a></p>