<div class="comment comment--dependent">
    <div class="comment__head">
        <p class="comment__author">Василий</p>
        <time class="comment__date">10 октября 2018</time>
    </div>
    <div class="comment__content">
        <p>Тоже взял его в рассрочку на старте продаж и очень доволен. Телефон шикарный. Работает идеально</p>
    </div>
    <div class="comment__footer">
        <a href="#" class="comment__link">Ответить</a>
    </div>
</div>

<div class="comment comment--dependent">
    <div class="comment__head">
        <p class="comment__author">Оксана</p>
        <time class="comment__date">11 октября 2018</time>
    </div>
    <div class="comment__content">
        <p>Гарантия какая?</p>
    </div>
</div>