<div class="card frame frame--shadowed">
  <a href="#" title="Подробнее" class="card__image-wrap">
    <img src="img/card.jpg" alt="" class="card__image" />
  </a>
  <div class="card__description">
    <div class="card__stickers">
      <span class="sticker sticker--color-green">Суперцена</span>
    </div>
    <h3 class="card__title">
      <a href="#" title="Подробнее">Apple iPhone XS Max Dual SIM 512GB (черный)</a>
    </h3>
    <div class="price price--columned">
      <div class="price__profit price__profit--rowed">
        <span class="price__old">59&nbsp;990&nbsp;₽</span>
        <span class="price__discount">-&nbsp;5000&nbsp;₽</span>
      </div>
      <span class="price__current price__current--size-md">53&nbsp;990&nbsp;₽</span>
    </div>

  </div>
  <div class="card__buttons">
    <a href="" class="btn btn--bg-green btn--size-xxs">В корзину</a>
    <a href="" class="btn btn--bg-red btn--size-xxs card__button-desktop" uk-toggle="target: #popup-buy">Купить в 1
      клик</a>
  </div>
</div>