<div class="product">
  <div class="product__header">
    <div class="product__slider"></div>
    <div class="product__header-container">
      <div class="product__payment product__col product__col--right">
        <p class="product__title">Оплата:</p>
        <ul class="product__payment-list">
          <li class="product__payment-item">
            <p class="product__payment-text">При доставке<br /><span class="product__payment-item--green">(Картой или
                наличными)</span></p>
            <p class="product__payment-text">В магазине<br /><span class="product__payment-item--green">(Картой или
                наличными)</span></p>
          </li>
          <li class="product__payment-item">
            <p class="product__payment-text">Оплата онлайн</p>
            <p class="product__payment-text">Кредит от банка</p>
            <p class="product__payment-text">Безналичный расчет</p>
            <p class="product__payment-text">Электронные кошельки</p>
          </li>
        </ul>
      </div>
      <!-- доставка -->
      <ul class="product__delivery product__col product__col--left">
        <li class="product__delivery-item">
          <p class="product__delivery-text">
            Самовывоз до 22:00 – бесплатно
          </p>
          <span class="btn btn--border-green btn--color-green btn--raduis-md" uk-toggle="target: #popup-map">Посмотреть
            пункты самовывоза</span>
        </li>
        <li class="product__delivery-item">
          <p class="product__delivery-text">
            Доставка курьером – бесплатно
          </p>
          <span class="product__delivery-time">Вермя доставки: ~ 16:00</span>
        </li>
      </ul>
      <!-- без скидки -->
      <div class="product__price product__col product__col--left">
        <div class="product__price-container">
          <div class="price">
            <span class="price__current price__current--size-big">16&nbsp;990&nbsp;₽</span>
            <a href="#" class="price__link">Почему такая<br />низкая цена?
              <div class="price__tooltip frame">
                <p class="price__tooltip-title">Почему такая низкая цена?</p>
                <p class="price__tooltip-text">Мы продаем американские и европейские смартфоны. На них цена на 15-20%
                  дешевле, чем на смартфоны, выпущенные для Российского рынка. Для пользователя никакой разницы между
                  Американскими и Российскими моделями нет. При желании, у нас есть и ростест модели, но цена на них
                  будет выше.</p>
              </div>
            </a>
          </div>
          <div class="product__button-wrap">
            <span class="btn btn--bg-green btn--size-s">В корзину</span>
            <span class="btn btn--bg-red btn--size-s" uk-toggle="target: #popup-buy">Купить в 1 клик</span>
            <button class="btn__credit" uk-toggle="target: #popup-buy-credit">
              <svg class="btn__credit-icon">
                <use xlink:href="img/symbol/sprite.svg#credit" />
              </svg>
              <span><span class="btn__credit-green">Расчитать&nbsp;кредит</span><br /><span
                  class="btn--text-none">от&nbsp;<span
                    class="btn__credit-big">1440&nbsp;&#x20bd;</span>&nbsp;в&nbsp;месяц</span></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="relations">
    <p class="relations__title">Покупатели, которые просматривали этот товар, также интересуются</p>
    <ul class="relations__list">
      <li class="relations__item col col--25">
        <div class="card card--disabled card--mini frame frame--shadowed">
          <a href="" title="Подробнее" class="card__image-wrap">
            <img src="img/card-mini.jpg" alt="" class="card__image" />
          </a>
          <div class="card__description">
            <h3 class="card__title">
              <a href="" title="Подробнее">Apple&nbsp;iPhone&nbsp;XR 64GB (синий)</a>
            </h3>
            <div class="price">
              <div class="price__profit">
                <span class="price__old price__old--size-sm">59&nbsp;990&nbsp;₽</span>
                <span class="price__discount price__discount--size-sm">-&nbsp;5000&nbsp;₽</span>
              </div>
              <span class="price__current">53&nbsp;990&nbsp;₽</span>
            </div>
            <div class="card__buttons">
              <a href="" class="btn btn--bg-green btn--size-xxxs">Добавлено</a>
            </div>
          </div>
        </div>
      </li>
      <li class="relations__item col col--25">
        <div class="card card--mini frame frame--shadowed">
          <a href="" title="Подробнее" class="card__image-wrap">
            <img src="img/card-mini.jpg" alt="" class="card__image" />
          </a>
          <div class="card__description">
            <h3 class="card__title">
              <a href="" title="Подробнее">Apple&nbsp;iPhone&nbsp;XR 64GB (синий)</a>
            </h3>
            <div class="price">
              <div class="price__profit">
                <span class="price__old price__old--size-sm">59&nbsp;990&nbsp;₽</span>
                <span class="price__discount price__discount--size-sm">-&nbsp;5000&nbsp;₽</span>
              </div>
              <span class="price__current">53&nbsp;990&nbsp;₽</span>
            </div>
            <div class="card__buttons">
              <a href="" class="btn btn--bg-green btn--size-xxxs">Добавить</a>
            </div>
          </div>
        </div>
      </li>
      <li class="relations__item col col--25">
        <div class="card card--mini frame frame--shadowed">
          <a href="" title="Подробнее" class="card__image-wrap">
            <img src="img/card-mini.jpg" alt="" class="card__image" />
          </a>
          <div class="card__description">
            <h3 class="card__title">
              <a href="" title="Подробнее">Apple&nbsp;iPhone&nbsp;XR 64GB (синий)</a>
            </h3>
            <div class="price">
              <div class="price__profit">
                <span class="price__old price__old--size-sm">59&nbsp;990&nbsp;₽</span>
                <span class="price__discount price__discount--size-sm">-&nbsp;5000&nbsp;₽</span>
              </div>
              <span class="price__current">53&nbsp;990&nbsp;₽</span>
            </div>
            <div class="card__buttons">
              <a href="" class="btn btn--bg-green btn--size-xxxs">Добавить</a>
            </div>
          </div>
        </div>
      </li>
      <li class="relations__item col col--25">
        <div class="card card--mini frame frame--shadowed">
          <a href="" title="Подробнее" class="card__image-wrap">
            <img src="img/card-mini.jpg" alt="" class="card__image" />
          </a>
          <div class="card__description">
            <h3 class="card__title">
              <a href="" title="Подробнее">Apple&nbsp;iPhone&nbsp;XR 64GB (синий)</a>
            </h3>
            <div class="price">
              <div class="price__profit">
                <span class="price__old price__old--size-sm">59&nbsp;990&nbsp;₽</span>
                <span class="price__discount price__discount--size-sm">-&nbsp;5000&nbsp;₽</span>
              </div>
              <span class="price__current">53&nbsp;990&nbsp;₽</span>
            </div>
            <div class="card__buttons">
              <a href="" class="btn btn--bg-green btn--size-xxxs">Добавить</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="features-main">
    <ul class="features-main__list">
      <li class="col col--25">
        <div class="feature feature--centered">
          <svg class="feature__icon">
            <use xlink:href="img/symbol/sprite.svg#feature-delivery" />
          </svg>
          <div class="feature__content">
            <p class="feature__text">Бесплатная доставка <br>по СПБ в день заказа</p>
          </div>
        </div>
      </li>
      <li class="col col--25">
        <div class="feature feature--centered">
          <svg class="feature__icon">
            <use xlink:href="img/symbol/sprite.svg#feature-gift" />
          </svg>
          <div class="feature__content">
            <p class="feature__text">2 подарка <br>на выбор</p>
          </div>
        </div>
      <li class="col col--25">
        <div class="feature feature--centered">
          <svg class="feature__icon">
            <use xlink:href="img/symbol/sprite.svg#feature-warranity" />
          </svg>
          <div class="feature__content">
            <p class="feature__text">Гарантия <br>1 год</p>
          </div>
        </div>
      </li>
      <li class="col col--25">
        <div class="feature feature--centered">
          <svg class="feature__icon">
            <use xlink:href="img/symbol/sprite.svg#feature-original" />
          </svg>
          <div class="feature__content">
            <p class="feature__text">Оригинальная <br>продукция</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>