$breakpoint-md: 750;
$breakpoint-lg: 1179;

$txt-dark: #333;
$txt-grey: #2b2d30;
$white: #ffffff;
$positive: #4bd964;
$negative: #ff4310;
$review: #c2c2c2;
$point-red: #ff4310;
$point-green: #4bd964;
$point-gray: #c2c2c2;
$btn-gray: #f2f3f5;