<a href="#" class="announce announce--upper" style="background-image: url('../img/mobile.jpg')">
    <h2 class="announce__title announce__title--big">iOS 13 предупредит, если в&nbsp;разъем Lightning попадет вода</h2>
    <time class="announce__date announce__date--big">20.06.2019</time>
    <p class="announce__text">Все последние модели iPhone сертифицированы по стандартам IP67/IP68. Наличие
        этих сертификатов означает, что аппараты способны провести под водой до одного часа без каких-либо
        последствий.</p>
</a>