<div class="wide-wrapper">
  <div class="about container">
    <h2 class="about__title title">Про магазин Green Apple</h2>
    <div class="about__content">
      <div class="about__image-wrap about__image-wrap--left">
        <picture>
          <img src="../img/block_appleshop2.png" />
        </picture>
      </div>
      <div class="about__text">
        <p class="about__paragraph">
          Продукция бренда Apple известна качеством и надёжностью. Покупая ее,
          человек награждает себя стильной и современной техникой, которая будет
          актуальной еще несколько лет. Но радость владения технологичными
          гаджетами часто омрачается расходами на приобретение. Многие магазины,
          расположенные в СПб и окрестностях, завышают цены на iPhone, из-за
          чего покупка стает просто не выгодна.
        </p>
        <h3 class="about__paragraph-title">
          Насколько выгодно покупать iPhone на нашем сайте?
        </h3>
        <p class="about__paragraph">
          Интернет-магазин retailapple.ru идёт навстречу клиенту, предлагая
          лучшую продукцию по привлекательной цене. У нас вы сможете дёшево
          подобрать подарок для близкого человека. Мы продаем технику Apple на
          10-15% дешевле, чем известные сети магазинов, а с нашими акциями и
          дисконтной программой выгода от покупки становится очевидна.
        </p>
        <h3 class="about__paragraph-title">Каждый клиент получает:</h3>
        <ul class="list list--compact">
          <li class="list__item">
            Бесплатную доставку айфонов по СПб за 3 часа до двери
          </li>
          <li class="list__item">
            Год гарантии на каждое приобретенное устройство
          </li>
          <li class="list__item">
            Возможность полностью осмотреть устройство до покупки
          </li>
          <li class="list__item">
            Скидки и подарки при покупке любого смартфона на сайте
          </li>
        </ul>
        <p class="about__disclaimer">
          Оплачиваете товар только после полного осмотра и проверки устройства
          по imei.
        </p>
      </div>
      <div class="about__text about__text--second">
        <p class="about__paragraph">
          Продукция бренда Apple известна качеством и надёжностью. Покупая ее,
          человек награждает себя стильной и современной техникой, которая будет
          актуальной еще несколько лет. Но радость владения технологичными
          гаджетами часто омрачается расходами на приобретение. Многие магазины,
          расположенные в СПб и окрестностях, завышают цены на iPhone, из-за
          чего покупка стает просто не выгодна. Продукция бренда Apple известна
          качеством и надёжностью. Покупая ее, человек награждает себя стильной
          и современной техникой, которая будет актуальной еще несколько лет. Но
          радость владения технологичными гаджетами часто омрачается расходами
          на приобретение. Многие магазины, расположенные в СПб и окрестностях,
          завышают цены на iPhone, из-за чего покупка стает просто не
          выгодна.Продукция бренда Apple известна качеством и надёжностью.
          Покупая ее, человек награждает себя стильной и современной техникой,
          которая будет актуальной еще несколько лет. Но радость владения
          технологичными гаджетами часто омрачается расходами на приобретение.
          Многие магазины, расположенные в СПб и окрестностях, завышают цены на
          iPhone, из-за чего покупка стает просто не выгодна.
        </p>
      </div>
      <div class="about__image-wrap about__image-wrap--right">
        <picture>
          <img src="../img/block_appleshop1.png" />
        </picture>
      </div>
    </div>
  </div>
</div>
