    <div class="field">
        <label for="" class="field__title field__title--pointed-green">Плюсы</label>
        <textarea class="field__input" name="" id="" cols="" rows="4"></textarea>
    </div>

    <div class="field">
        <label for="" class="field__title field__title--pointed-red">Минусы</label>
        <textarea class="field__input" name="" id="" cols="" rows="4"></textarea>
    </div>

    <div class="field">
        <label class="field__title field__title--pointed-gray" for="">Комментарий</label>
        <textarea class="field__input" name="" id="" cols="" rows="4"></textarea>
    </div>

    <div class="field">
        <label class="field__title" for="">Имя</label>
        <input class="field__input" type="" name="" id=""></input>
    </div>

    <div class="field">
        <label class="field__title" for="">Заголовок</label>
        <input class="field__input field__input--shaded" type="" name="" id=""></input>
    </div>

