<div class="field">
    <label class="field__title field__title--pointed-green">Плюсы</label>
    <textarea class="field__input" rows="4"></textarea>
</div>

<div class="field">
    <label class="field__title field__title--pointed-red">Минусы</label>
    <textarea class="field__input" rows="4"></textarea>
</div>

<div class="field">
    <label class="field__title field__title--pointed-gray">Комментарий</label>
    <textarea class="field__input" rows="4"></textarea>
</div>

<div class="field">
    <label class="field__title">Имя</label>
    <input class="field__input" type="text"></input>
</div>

<div class="field">
    <label class="field__title">Заголовок</label>
    <input class="field__input field__input--shaded" type="text"></input>
</div>