<div class="filter__wrap">
    <!-- Модель -->
    <div class="frame filter">
        <p class="filter__title">Модель</p>
        <ul class="filter__list">
            <li class="filter__item">
                <div class="checkbox">
                    <input class="visually-hidden checkbox__input" type="checkbox" name="iphone-1" id="iphone-1"
                        checked>
                    <label class="checkbox__label" for="iphone-1">iPhone XS Max</label>
                </div>
            </li>
            <li class="filter__item">
                <div class="checkbox">
                    <input class="visually-hidden checkbox__input" type="checkbox" name="iphone-2" id="iphone-2">
                    <label class="checkbox__label" for="iphone-2">iPhone XS</label>
                </div>
            </li>
            <li class="filter__item">
                <div class="checkbox">
                    <input class="visually-hidden checkbox__input" type="checkbox" name="iphone-3" id="iphone-3">
                    <label class="checkbox__label" for="iphone-3">iPhone XR</label>
                </div>
            </li>
            <li class="filter__item">
                <div class="checkbox">
                    <input class="visually-hidden checkbox__input" type="checkbox" name="iphone-4" id="iphone-4">
                    <label class="checkbox__label" for="iphone-4">iPhone X</label>
                </div>
            </li>
            <li class="filter__item">
                <div class="checkbox">
                    <input class="visually-hidden checkbox__input" type="checkbox" name="iphone-5" id="iphone-5">
                    <label class="checkbox__label" for="iphone-5">iPhone 8 Plus</label>
                </div>
            </li>
            <li class="filter__item">
                <div class="checkbox">
                    <input class="visually-hidden checkbox__input" type="checkbox" name="iphone-6" id="iphone-6">
                    <label class="checkbox__label" for="iphone-6">iPhone 8</label>
                </div>
            </li>
            <li class="filter__item">
                <div class="checkbox">
                    <input class="visually-hidden checkbox__input" type="checkbox" name="iphone-7" id="iphone-7">
                    <label class="checkbox__label" for="iphone-7">iPhone 7 Plus</label>
                </div>
            </li>
            <li class="filter__item">
                <div class="checkbox">
                    <input class="visually-hidden checkbox__input" type="checkbox" name="iphone-8" id="iphone-8">
                    <label class="checkbox__label" for="iphone-8">iPhone 7</label>
                </div>
            </li>
        </ul>
        <div class="filter__button-wrap">
            <a href="" class="btn btn--border-grey btn--radius-xs btn--size-xxxxs btn--color-green">показать еще</a>
        </div>
    </div>
    <ul data-uk-accordion="multiple: true" class="accordion uk-accordion">
        <!-- Цвет -->
        <li class="accordion__body frame filter">
            <a class="uk-accordion-title accordion__title accordion__title--spaced-xs accordion__title--caret-small accordion__title--semibold"
                href="#">Цвет</a>
            <div class="uk-accordion-content accordion__content accordion__content--bg-white accordion__content--spaced-xs"
                hidden="" aria-hidden="true">
                <ul class="filter__colors">
                    <li class="filter__color">
                        <input class="filter__input visually-hidden" type="checkbox" name="color-1" id="color-1">
                        <label class="filter__label" style="background-color: #000000;" for="color-1"></label>
                    </li>
                    <li class="filter__color">
                        <input class="filter__input visually-hidden" type="checkbox" name="color-2" id="color-2">
                        <label class="filter__label" style="background-color: #6a6a6a;" for="color-2"></label>
                    </li>
                    <li class="filter__color">
                        <input class="filter__input visually-hidden" type="checkbox" name="color-3" id="color-3">
                        <label class="filter__label" style="background-color: #f3f3f3;" for="color-3"></label>
                    </li>
                    <li class="filter__color">
                        <input class="filter__input visually-hidden" type="checkbox" name="color-4" id="color-4">
                        <label class="filter__label" style="background-color: #e2a78e;" for="color-4"></label>
                    </li>
                    <li class="filter__color">
                        <input class="filter__input visually-hidden" type="checkbox" name="color-5" id="color-5">
                        <label class="filter__label" style="background-color: #4bcc62;" for="color-5"></label>
                    </li>
                    <li class="filter__color">
                        <input class="filter__input visually-hidden" type="checkbox" name="color-6" id="color-6">
                        <label class="filter__label" style="background-color: #dd3030;" for="color-6"></label>
                    </li>
                    <li class="filter__color">
                        <input class="filter__input visually-hidden" type="checkbox" name="color-7" id="color-7">
                        <label class="filter__label" style="background-color: #f8a6a6;" for="color-7"></label>
                    </li>
                    <li class="filter__color">
                        <input class="filter__input visually-hidden" type="checkbox" name="color-8" id="color-8">
                        <label class="filter__label" style="background-color: #fd8668;" for="color-8"></label>
                    </li>
                    <li class="filter__color">
                        <input class="filter__input visually-hidden" type="checkbox" name="color-9" id="color-9">
                        <label class="filter__label" style="background-color: #ffd14e;" for="color-9"></label>
                    </li>
                    <li class="filter__color">
                        <input class="filter__input visually-hidden" type="checkbox" name="color-10" id="color-10">
                        <label class="filter__label" style="background-color: #42b8e2;" for="color-10"></label>
                    </li>
                </ul>
            </div>
        </li>
        <!-- Цена -->
        <li class="accordion__body frame filter">
            <a class="uk-accordion-title accordion__title accordion__title--spaced-xs accordion__title--caret-small accordion__title--semibold"
                href="#">Цена</a>
            <div class="uk-accordion-content accordion__content accordion__content--bg-white accordion__content--spaced-xs"
                hidden="" aria-hidden="true">
                <div class="field__wrap">
                    <div class="field">
                        <label class="field__title field__title--filter">от</label>
                        <input class="field__input field__input--shaded" type="text" placeholder="0&nbsp;&#x20bd;">
                    </div>
                    <div class="field">
                        <label class="field__title field__title--filter">до</label>
                        <input class="field__input field__input--shaded" type="text"
                            placeholder="120&nbsp;000&nbsp;&#x20bd;">
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <a href="" class="btn btn--bordercolor-grey btn--radius-xs btn--size-xxxs btn--color-green btn--size-small">Сбросить
        фильтр</a>
</div>