<footer class="footer container">
  <div class="footer__top">
    <div class="footer__nav">
      <div class="footer__nav-col">
        <h3 class="footer__title">Меню</h3>
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#" title="Перейти на страницу">Гарантия</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#" title="Перейти на страницу">Кредит</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#" title="Перейти на страницу">Оплата и доставка</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#" title="Перейти на страницу">Новости</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#" title="Перейти на страницу">Отзывы</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#" title="Перейти на страницу">Контакты</a>
          </li>
        </ul>
      </div>
      <div class="footer__nav-col">
        <h3 class="footer__title">Каталог</h3>
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#" title="Перейти на страницу">iPhone</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#" title="Перейти на страницу">iPad</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#" title="Перейти на страницу">Watch</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#" title="Перейти на страницу">Mac</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#" title="Перейти на страницу">Аксессуары</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#" title="Перейти на страницу">Акции</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__contacts">
      <h3 class="footer__title">адрес</h3>
      <ul class="list list--simple">
        <li>м. Савеловская, Сущевский Вал 5 с 6,</li>
        <li>м. Ломоновский проспект, ул.&nbsp;Мосфильмовская 31,</li>
        <li>м. Озерная, ул. Озерная 38,</li>
        <li>м. Кузьминки, ул. Зеленодельская 121/35,</li>
        <li>м. Сокольники, Русаковская 26Бс1.</li>
      </ul>
      <p>
        <span class="footer__btn footer__btn--light" data-uk-toggle="target: #popup-map">Посмотреть пункты
          самовывоза</span<>
      </p>
      <p class="footer__contacts-number">
        <a href="tel:+7 499 348-87-37" title="Позвонить">+7 499 348-87-37</a>
      </p>
      <p class="footer__contacts-info">Бесплатно по всей територрии РФ</p>
      <p class="footer__contacts-info">С 10:00 до 21:00, без выходных</p>
      <button type="button" class="footer__btn footer__btn--green btn btn--bg-green"
        data-uk-toggle="target: #popup-call-back">
        Перезвоните мне
      </button>
    </div>

    <div class="footer__about">
      <a href="/" class="logo footer__logo">
        <img class="logo__img" src="img/pic/logo.svg" alt="Логотип Green Apple" />
      </a>
      <p class="footer__promo">
        Green-apple.ru – интернет-магазин, где вы найдете смартфоны компании
        Apple. У нас всегда в наличии все цвета и модели айфонов, а цены – самые
        низкие на рынке. Предоставляем быструю и бесплатную доставку по Санкт-Петербургу, а также год гарантии на каждый
        смартфон. Работаем для
        вас без выходных и праздников. У нас всегда в наличии все цвета и модели
        айфонов, а цены – самые низкие на рынке. Петербургу, а также год
        гарантии на каждый смартфон. Работаем для вас без выходных и праздников.
      </p>
      <h3 class="footer__title">Мы в соц. сетях</h3>
      <div class="social">
        <a href="" class="social__link">
          <svg class="social__icon social__icon--vk">
            <use xlink:href="img/symbol/sprite.svg#vk" />
          </svg>
        </a>
        <a href="" class="social__link">
          <svg class="social__icon social__icon--inst">
            <use xlink:href="img/symbol/sprite.svg#inst" />
          </svg>
        </a>
      </div>
      <p class="footer__disclaimer">
        Сведения, указанные на сайте приведены как справочная информация и не
        являются публичной офертой, определяемой положениями статей 437 и 435
        Гражданского кодекса Российской Федерации
      </p>
    </div>
  </div>
  <div class="footer__bottom">
    <span>© 2013-2019 Green Apple</span>
    <ul class="footer__copy-links">
      <li>
        <a href="#" title="Перейти на страницу">Пользовательское соглашение</a>
      </li>
      <li>
        <a href="#" title="Перейти на страницу">Политика конфиденциальности</a>
      </li>
      <li><a href="#" title="Перейти на страницу">Публичная оферта</a></li>
      <li><a href="#" title="Перейти на страницу">Карта сайта</a></li>
    </ul>
    <span>antonov.design</span>
  </div>
</footer>
<div id="popup-map" class="uk-flex-top popup" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical popup__inner popup__inner--full">
    <svg class="popup__close uk-modal-close">
      <use xlink:href="img/symbol/sprite.svg#close" />
    </svg>
    <h2 class="title">Пункты самовывоза</h2>
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.9365552051452!2d30.357610666329574!3d59.9331949318742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbe1a3899db8dc698!2z0J3QvtGC0LDRgNC40LDQu9GM0L3QsNGPINC60L7QvdGC0L7RgNCwICLQktC-0YHRgdGC0LDQvdC40Y8gNiI!5e0!3m2!1sru!2sru!4v1563539776241!5m2!1sru!2sru"
        width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div id="popup-call-back" class="uk-flex-top popup" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical popup__inner popup__inner--sm">
    <svg class="popup__close uk-modal-close">
      <use xlink:href="img/symbol/sprite.svg#close" />
    </svg>
    <h2 class="title">Вам перезвонить?</h2>
    <p class="popup__text popup__text--mb-20">Оставьте свой номер, мы свяжемся с вами в течении&nbsp;дня.</p>
    <div class="popup__container">
      <div class="field">
        <label class="field__title">Телефон</label>
        <input class="field__input field__input--shaded field__input--radius-12">
      </div>
    </div>
    <a href="" class="btn btn--bg-green btn--size-lg">Оформить заказ</a>
  </div>
</div>
<div id="popup-buy" class="uk-flex-top popup" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical popup__inner popup__inner--sm">
    <svg class="popup__close uk-modal-close">
      <use xlink:href="img/symbol/sprite.svg#close" />
    </svg>
    <h2 class="title">Купить в 1 клик</h2>
    <p class="popup__text popup__text--mb-20">Оставьте свой номер, мы свяжемся с вами в&nbsp;течении&nbsp;дня.</p>
    <div class="popup__container">
      <div class="card card--micro frame frame--wide-m">
        <div class="card__image-wrap">
          <img src="img/card-micro-phone.jpg" alt="" class="card__image">
        </div>
        <div class="card__description">
          <h3 class="card__title">Apple iPhone XS Max Dual SIM 512GB (черный)</h3>
          <div class="price price--columned">
            <div class="price__profit price__profit--rowed">
              <span class="price__old">59&nbsp;990&nbsp;₽</span>
              <span class="price__discount">-&nbsp;5000&nbsp;₽</span>
            </div>
            <span class="price__current price__current--size-md">53&nbsp;990&nbsp;₽</span>
          </div>

        </div>
      </div>
      <div class="field">
        <label class="field__title">Телефон</label>
        <input class="field__input field__input--shaded field__input--radius-12">
      </div>
    </div>
    <a href="" class="btn btn--bg-green btn--size-lg">Оформить заказ</a>
    <a href="" class="btn btn--border-green btn--color-green btn--size-m">Остались вопросы?</a>
    <a class="contact" href="tel:8 (812) 509-24-80" title="Позвонить">
      <div class="contact__content">
        <p class="contact__text">или позвоните нам по номеру:</p>
        <p class="contact__number">+7 (812) 509-24-80</p>
        <span class="contact__info">С 10:00 до 21:00, без выходных, бесплатно по РФ</span>
      </div>
    </a>
  </div>
</div>
<div id="popup-add-review" class="uk-flex-top popup" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical popup__inner popup__inner--lg">
    <svg class="popup__close popup__close--below uk-modal-close">
      <use xlink:href="img/symbol/sprite.svg#close" />
    </svg>
    <h2 class="title">Добавить отзыв</h2>
    <p class="popup__text popup__text--mb-25">Вам понравилось покупать у нас или есть замечания? Поделитесь своими
      впечатлениями в форме ниже:</p>
    <form class="popup__form">
      <div class="popup__container row">
        <div class="col">
          <div class="field form__field">
            <label class="field__title field__title--pointed-green">Плюсы</label>
            <textarea class="field__input field__input--shaded field__input--radius-12" rows="2"></textarea>
          </div>
          <div class="field form__field">
            <label class="field__title field__title--pointed-red">Минусы</label>
            <textarea class="field__input field__input--shaded field__input--radius-12" rows="2"></textarea>
          </div>
          <div class="field form__field">
            <label class="field__title field__title--pointed-gray">Комментарий</label>
            <textarea class="field__input field__input--mh-120 field__input--shaded field__input--radius-12"
              rows="5"></textarea>
          </div>
        </div>
        <div class="col">
          <div class="field">
            <label class="field__title" for="">Имя</label>
            <input class="field__input field__input--shaded field__input--radius-12">
          </div>
          <div class="field">
            <label class="field__title" for="">Электронная почта</label>
            <input class="field__input field__input--shaded field__input--radius-12">
          </div>
          <div class="field">
            <label for="" class="field__title">Добавить фото</label>
            <div class="fileuploader fileuploader-theme-thumbnails"><input type="hidden"
                name="fileuploader-list-file"><input type="file" name="file[]" multiple="multiple"
                style="position: absolute; z-index: -9999; height: 0px; width: 0px; padding: 0px; margin: 0px; line-height: 0; outline: 0px; border: 0px; opacity: 0;">
              <div class="fileuploader-items">
                <ul class="fileuploader-items-list">
                  <li class="fileuploader-thumbnails-input">
                    <div class="fileuploader-thumbnails-input-inner">
                      <div class="fileuploader-download">
                        <svg class="fileuploader__icon">
                          <use xlink:href="img/symbol/sprite.svg#download" />
                        </svg>
                        <p>Перетащите фото или нажмите для выбора </p>
                        <p>
                          <span>.png</span>
                          <span>.jpg</span>
                          <span>.webp</span>
                        </p>
                      </div>
                      <div class="fileuploader-download fileuploader-download--more">
                        <svg class="fileuploader__icon">
                          <use xlink:href="img/symbol/sprite.svg#plus-upload" />
                        </svg>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="fileuploader fileuploader-theme-thumbnails"><input type="hidden"
                name="fileuploader-list-file"><input type="file" name="file[]" multiple="multiple"
                style="position: absolute; z-index: -9999; height: 0px; width: 0px; padding: 0px; margin: 0px; line-height: 0; outline: 0px; border: 0px; opacity: 0;">
              <div class="fileuploader-items">
                <ul class="fileuploader-items-list">
                  <li class="fileuploader-item file-type-image file-ext-png file-has-popup">
                    <div class="fileuploader-thumbnails-input-inner">
                      <div class="actions-holder"><a class="fileuploader-action fileuploader-action-remove"
                          title="Remove"><i></i></a></div>
                      <img src="img/pic/review-mobile-3.jpg" alt="">
                    </div>
                  </li>
                  <li class="fileuploader-thumbnails-input">
                    <div class="fileuploader-thumbnails-input-inner">
                      <div class="fileuploader-download">
                        <svg class="fileuploader__icon">
                          <use xlink:href="img/symbol/sprite.svg#download" />
                        </svg>
                        <p>Перетащите фото или нажмите для выбора </p>
                        <p>
                          <span>.png</span>
                          <span>.jpg</span>
                          <span>.webp</span>
                        </p>
                      </div>
                      <div class="fileuploader-download fileuploader-download--more">
                        <svg class="fileuploader__icon">
                          <use xlink:href="img/symbol/sprite.svg#plus-upload" />
                        </svg>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="field field--row">
            <label for="" class="field__title">Оценка</label>
            <fieldset class="rating">
              <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5
                stars</label>
              <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4
                stars</label>
              <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3
                stars</label>
              <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2
                stars</label>
              <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1
                star</label>
            </fieldset>

          </div>
        </div>
      </div>
      <a href="" class="btn btn--bg-green btn--size-lg">Отправить</a>
    </form>
  </div>
</div>

<div id="popup-quesions" class="uk-flex-top popup" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical popup__inner popup__inner--sm">
    <svg class="popup__close uk-modal-close">
      <use xlink:href="img/symbol/sprite.svg#close" />
    </svg>
    <h2 class="title">Остались вопросы?</h2>
    <p class="popup__text popup__text--mb-30">Оставьте свой номер и вопрос, мы свяжемся с&nbsp;вами в&nbsp;течении
      дня.</p>
    <div class="popup__container">
      <div class="field">
        <label class="field__title">Сообщение или вопрос</label>
        <textarea class="field__input field__input--shaded field__input--mh-140 field__input--radius-12"
          rows="5"></textarea>
      </div>
      <div class="field">
        <label class="field__title">Телефон</label>
        <input class="field__input field__input--shaded field__input--radius-12">
      </div>
    </div>
    <a href="" class="btn btn--bg-green btn--size-lg">Оформить заказ</a>
  </div>
</div>

<div id="popup-assesment" class="uk-flex-top popup" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical popup__inner popup__inner--sm">
    <svg class="popup__close uk-modal-close">
      <use xlink:href="img/symbol/sprite.svg#close" />
    </svg>
    <h2 class="title">Оценка устройства</h2>
    <p class="popup__text popup__text--mb-30">Наш менеджер поможет дать предварительную оценку устройству по телефону.
      Оставьте свой номер, мы с вами свяжемся в течении дня</p>
    <div class="popup__container">
      <div class="field">
        <label class="field__title">Телефон</label>
        <input class="field__input field__input--shaded field__input--radius-12">
      </div>
    </div>
    <a href="" class="btn btn--bg-green btn--size-lg">Оставить заявку</a>
  </div>
</div>

<div id="popup-request" class="uk-flex-top popup" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical popup__inner popup__inner--sm">
    <svg class="popup__close uk-modal-close">
      <use xlink:href="img/symbol/sprite.svg#close" />
    </svg>
    <h2 class="title">Заявка на trade-in</h2>
    <p class="popup__text popup__text--mb-30">Оствьте заявку, и с вами свяжется специалист для оценки устройства, после
      чего вы узнаете точную стоимость покупки в trade-in.</p>
    <div class="popup__container">
      <div class="field">
        <label class="field__title">Телефон</label>
        <input class="field__input field__input--shaded field__input--radius-12">
      </div>
    </div>
    <a href="" class="btn btn--bg-green btn--size-lg">Оставить заявку</a>
  </div>
</div>
<div id="popup-buy-credit" class="uk-flex-top popup" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical popup__inner popup__inner--md">
    <svg class="popup__close popup__close--below uk-modal-close">
      <use xlink:href="img/symbol/sprite.svg#close" />
    </svg>
    <h2 class="title title--mb-30">Купить в кредит</h2>
    <div class="popup__container">
      <div class="card card--micro frame frame--wide-m">
        <div class="card__image-wrap">
          <img src="img/card-micro-phone.jpg" alt="" class="card__image" />
        </div>
        <div class="card__description">
          <h3 class="card__title">
            Apple iPhone XS Max Dual SIM 512GB (черный)
          </h3>
          <div class="price price--columned">
            <div class="price__profit price__profit--rowed">
              <span class="price__old">59&nbsp;990&nbsp;₽</span>
              <span class="price__discount">-&nbsp;5000&nbsp;₽</span>
            </div>
            <span class="price__current price__current--size-md" data-price="53990">53&nbsp;990&nbsp;₽</span>
          </div>
        </div>
      </div>
      <div class="calc">
        <div class="field">
          <label for="bank" class="field__title">Выберите банк:</label>
          <select name="" id="bank" class="js-choice js-choice--big">
            <option value="">Любой</option>
            <option value="">her</option>
            <option value="">hr</option>
          </select>
        </div>
        <div class="field">
          <p class="field__title">Срок кредита (месяцев):</p>
          <div class="range-wrap">
            <input class="field__range" type="range" value="2" min="2" max="36" step="1" />
            <span class="field__input-val">2</span>
            <ul class="range__items">
              <li class="range__item">2</li>
              <li class="range__item">6</li>
              <li class="range__item">12</li>
              <li class="range__item">18</li>
              <li class="range__item">24</li>
              <li class="range__item"></li>
              <li class="range__item">36</li>
            </ul>
          </div>
        </div>
        <div class="field">
          <p class="field__title">Приблизительный ежемесячный платеж:</p>
          <div class="calc__total">
            <span class="calc__result">16 990 ₽</span>
            <span class="field__info">Точный платеж<br>расчитывается менеджером</span>
          </div>
        </div>
      </div>
      <div class="field__wrap frame frame--wide-m">
        <div class="field field--w60">
          <p class="field__title">Есть задолженность по кредитам?</p>
          <div class="radio">
            <div class="radio__item">
              <input name="debt" class="visually-hidden radio__input" type="radio" id="yes">
              <label class="radio__label" for="yes">Да</label>
            </div>
            <div class="radio__item">
              <input name="debt" class="visually-hidden radio__input" type="radio" id="no">
              <label class="radio__label" for="no">Нет</label>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="field__title">Ваш возраст:</label>
          <input class="field__input field__input--sm field__input--shaded field__input--radius-12" />
        </div>
      </div>
      <p class="popup__text popup__text--big popup__text--mb-20">
        Напишите свой номер и мы позвоним Вам в течение 5 минут
      </p>
      <div class="field">
        <label class="field__title">Телефон</label>
        <input class="field__input field__input--shaded field__input--radius-12" />
      </div>
    </div>
    <a href="" class="btn btn--bg-green btn--size-lg">Отправить заявку</a>
    <a href="" class="btn btn--border-green btn--color-green btn--size-m">Остались вопросы?</a>
    <a class="contact" href="tel:8 (812) 509-24-80" title="Позвонить">
      <div class="contact__content">
        <p class="contact__text">или позвоните нам по номеру:</p>
        <p class="contact__number">+7 (812) 509-24-80</p>
        <span class="contact__info">С 10:00 до 21:00, без выходных, бесплатно по РФ</span>
      </div>
    </a>
  </div>
  <div id="popup-video" class="uk-flex-top popup" data-uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical popup__video">
      <iframe id="videoLand" width="1100" height="500" src="https://www.youtube-nocookie.com/embed/9m_K2Yg7wGQ"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</div>