<header class="header">
  <div class="container">
    <div class="header__top">
      <div class="logo">
        <a href="/">
          <img class="logo__img" src="img/pic/logo.svg" alt="Логотип Green Apple" />
        </a>
      </div>

      <div class="top-links">
        <a class="top-links__link" href="#" title="Перейти на страницу">Гарантия</a>
        <a class="top-links__link" href="#" title="Перейти на страницу">Оплата и доставка</a>
        <a class="top-links__link" href="#" title="Перейти на страницу">Новости</a>
        <a class="top-links__link" href="#" title="Перейти на страницу">Отзывы</a>
        <a class="top-links__link" href="#" title="Перейти на страницу">Контакты</a>
      </div>

      <a class="header__contacts" href="tel:88125076559" title="Позвонить">
        <svg class="header__contacts-icon">
          <use xlink:href="img/symbol/sprite.svg#phone" />
        </svg>
        <div class="header__contacts-text">
          <p class="header__contacts-number">8 (812) 507-65-59</p>
          <span class="header__contacts-info">Бесплатно по всей територрии РФ<br>С 10:00 до 21:00, без выходных</span>
        </div>
      </a>

      <div class="header__search header__search--top search js-open-search">
        <form class="search__inner">
          <input type="search" class="search__input" />
          <svg class="search__icon">
            <use xlink:href="img/symbol/sprite.svg#close" />
          </svg>
        </form>
      </div>
    </div>
    <div class="header__bottom" data-uk-sticky="top">
      <nav class="menu">
        <div class="menu__btn" data-uk-toggle="#menu-mobile">
          <svg class="menu__btn-icon">
            <use xlink:href="img/symbol/sprite.svg#hamburger" />
          </svg>
          <span class="menu__btn-text">Меню</span>
        </div>

        <ul class="menu__cats">
          <li class="menu__item">
            <span class="menu__cats-name menu__cats-name--opened menu__cats-name--dropdown">iPhone</span>
            <ul class="menu__sub-cats">
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone 6S</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">7 Plus</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <span class="menu__cats-name menu__cats-name--dropdown">iPad</span>
            <ul class="menu__sub-cats">
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone 6S</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">7 Plus</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <span class="menu__cats-name menu__cats-name--dropdown">Watch</span>
            <ul class="menu__sub-cats">
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone 6S</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">7 Plus</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <span class="menu__cats-name menu__cats-name--dropdown">Mac</span>
            <ul class="menu__sub-cats">
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone 6S</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">7 Plus</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <span class="menu__cats-name menu__cats-name--dropdown">Аксессуары</span>
            <ul class="menu__sub-cats">
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone 6S</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">7 Plus</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
              </li>
              <li>
                <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <a href="#" title="Перейти на страницу" class="menu__cats-name">Акции</a>
          </li>
          <li class="menu__item menu__item--additional">
            <ul class="menu__info-links">
              <li>
                <a class="menu__info-link" href="#" title="Перейти на страницу">Гарантия</a>
              </li>
              <li>
                <a class="menu__info-link" href="#" title="Перейти на страницу">Кредит</a>
              </li>
              <li>
                <a class="menu__info-link" href="#" title="Перейти на страницу">Оплата и доставка</a>
              </li>
              <li>
                <a class="menu__info-link" href="#" title="Перейти на страницу">Трейд-ин</a>
              </li>
              <li>
                <a class="menu__info-link" href="#" title="Перейти на страницу">Новости</a>
              </li>
              <li>
                <a class="menu__info-link" href="#" title="Перейти на страницу">Отзывы</a>
              </li>
              <li>
                <a class="menu__info-link" href="#" title="Перейти на страницу">Контакты</a>
              </li>
            </ul>
          </li>
        </ul>


        <div class="menu-mobile" id="menu-mobile" uk-offcanvas="overlay:true; mode: none;">
          <div class="uk-offcanvas-bar">
            <ul class="menu-mobile__list" uk-accordion>
              <li class="uk-open">
                <a class="uk-accordion-title" href="#">Item 1</a>
                <div class="uk-accordion-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua.</p>
                </div>
              </li>
              <li>
                <a class="uk-accordion-title" href="#">Item 2</a>
                <div class="uk-accordion-content">
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor reprehenderit.</p>
                </div>
              </li>
              <li>
                <a class="uk-accordion-title" href="#">Item 3</a>
                <div class="uk-accordion-content">
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                    Excepteur sint occaecat cupidatat proident.</p>
                </div>
              </li>
              <li>
                <a class="uk-accordion-title" href="#">Item 2</a>
                <div class="uk-accordion-content">
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor reprehenderit.</p>
                </div>
              </li>
              <li>
                <a class="uk-accordion-title" href="#">Item 3</a>
                <div class="uk-accordion-content">
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                    Excepteur sint occaecat cupidatat proident.</p>
                </div>
              </li>
              <li>
                <a class="uk-accordion-title" href="#">Item 2</a>
                <div class="uk-accordion-content">
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor reprehenderit.</p>
                </div>
              </li>
              <li>
                <a class="uk-accordion-title" href="#">Item 3</a>
                <div class="uk-accordion-content">
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                    Excepteur sint occaecat cupidatat proident.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </nav>

      <div class="header__search header__search--bottom search js-open-search">
        <form class="search__inner">
          <input type="search" class="search__input" placeholder="Поиск" />
          <svg class="search__icon">
            <use xlink:href="img/symbol/sprite.svg#close" />
          </svg>
          <button class="search__btn btn btn--bg-green btn--width-auto btn--size-xxs">
            Найти
          </button>
        </form>
      </div>
      <div class="basket basket--full">
        <div class="basket__icon-wrap">
          <svg class="basket__icon">
            <defs>
              <linearGradient id="basket" x1="50%" x2="50%" y1="100%" y2="0%">
                <stop offset="0%" stop-color="#66D927" />
                <stop offset="100%" stop-color="#7DD91F" />
              </linearGradient>
            </defs>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/symbol/sprite.svg#basket" />
          </svg>
        </div>

        <div class="basket__text">
          <span class="basket__name">Корзина</span>
          <span class="basket__info">0 товаров</span>
        </div>
      </div>
      <div class="search__result">
        <ul class="search__result-list">
          <li class="search__result-list-item">
            <a href="#" title="Перейти на страницу"><span class="search__request">iphone xr</span> 256</a>
          </li>
          <li class="search__result-list-item">
            <a href="#" title="Перейти на страницу"><span class="search__request">iphone xr</span> чехол</a>
          </li>
          <li class="search__result-list-item">
            <a href="#" title="Перейти на страницу"><span class="search__request">iphone xr</span>Dual SIM</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>