<header class="container header">
  <div class="header__top">
    <div class="logo">
      <a href="/">
        <img class="logo__img" src="img/pic/logo.svg" alt="Логотип Green Apple" />
      </a>
    </div>
    <a class="header__contacts" href="tel:8 (812) 507-65-59" title="Позвонить">
      <svg class="header__contacts-icon">
        <use xlink:href="img/symbol/sprite.svg#phone"></use>
      </svg>
      <div class="header__contacts-text">
        <p class="header__contacts-number">8 (812) 507-65-59</p>
        <span class="header__contacts-info">Бесплатно по всей територрии РФ</span>
      </div>
    </a>

    <span class="schedule">
      С 10:00 до 21:00,<br />
      без выходных
    </span>

    <div class="top-links">
      <a class="top-links__link" href="#" title="Перейти на страницу">Гарантия</a>
      <a class="top-links__link" href="#" title="Перейти на страницу">Кредит</a>
      <a class="top-links__link" href="#" title="Перейти на страницу">Оплата и доставка</a>
      <a class="top-links__link" href="#" title="Перейти на страницу">Трейд-ин</a>
      <a class="top-links__link" href="#" title="Перейти на страницу">Новости</a>
      <a class="top-links__link" href="#" title="Перейти на страницу">Отзывы</a>
      <a class="top-links__link" href="#" title="Перейти на страницу">Контакты</a>
    </div>

    <div class="header__search header__search--top search js-open-search">
      <form class="search__inner" action="">
        <input type="search" class="search__input" />
        <svg class="search__icon">
          <use xlink:href="img/symbol/sprite.svg#close"></use>
        </svg>
      </form>
    </div>
  </div>
  <div class="header__bottom header__bottom--long" uk-sticky="top">
    <nav class="menu">
      <div class="menu__btn js-btn-toggle">
        Меню
      </div>
      <ul class="menu__cats">
        <li class="menu__item">
          <span class="menu__cats-name menu__cats-name--opened menu__cats-name--dropdown">iPhone</span>
          <ul class="menu__sub-cats">
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone 6S</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">7 Plus</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
            </li>
          </ul>
        </li>
        <li class="menu__item">
          <span class="menu__cats-name menu__cats-name--dropdown">iPad</span>
          <ul class="menu__sub-cats">
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone 6S</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">7 Plus</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
            </li>
          </ul>
        </li>
        <li class="menu__item">
          <span class="menu__cats-name menu__cats-name--dropdown">Watch</span>
          <ul class="menu__sub-cats">
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone 6S</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">7 Plus</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
            </li>
          </ul>
        </li>
        <li class="menu__item">
          <span class="menu__cats-name menu__cats-name--dropdown">Mac</span>
          <ul class="menu__sub-cats">
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone 6S</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">7 Plus</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
            </li>
          </ul>
        </li>
        <li class="menu__item">
          <span class="menu__cats-name menu__cats-name--dropdown">Аксессуары</span>
          <ul class="menu__sub-cats">
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone 6S</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">7 Plus</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">iPhone SE</a>
            </li>
          </ul>
        </li>
        <li class="menu__item">
          <a href="#" title="Перейти на страницу" class="menu__cats-name">Акции</a>
        </li>
        <li class="menu__item menu__item--additional">
          <span class="menu__cats-name menu__cats-name--dropdown">Информация</span>
          <ul class="menu__sub-cats">
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">Гарантия</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">Кредит</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">Оплата и доставка</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">Трейд-ин</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">Новости</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">Отзывы</a>
            </li>
            <li>
              <a class="menu__subcats-name" href="#" title="Перейти на страницу">Контакты</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- search--is-resulted для того чтобы появился попап с результатами поиска-->
    <div class="header__search header__search--bottom search js-open-search">
      <form class="search__inner" action="">
        <input type="search" class="search__input" placeholder="Поиск" />
        <svg class="search__icon">
          <use xlink:href="img/symbol/sprite.svg#close"></use>
        </svg>
        <button class="search__btn btn btn--bg-green btn--width-auto btn--size-xxs">
          Найти
        </button>
      </form>
    </div>
    <div class="basket basket--full">
      <svg class="basket__icon">
        <defs>
          <linearGradient id="basket" x1="50%" x2="50%" y1="100%" y2="0%">
            <stop offset="0%" stop-color="#66D927" />
            <stop offset="100%" stop-color="#7DD91F" />
          </linearGradient>
        </defs>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/symbol/sprite.svg#basket"></use>
      </svg>
      <div class="basket__text">
        <span class="basket__name">Корзина</span>
        <span class="basket__info">0 товаров</span>
      </div>
    </div>
  </div>
  <div class="search__result">
    <ul class="search__result-list">
      <li class="search__result-list-item">
        <a href="#" title="Перейти на страницу"><span class="search__request">iphone xr</span> 256</a>
      </li>
      <li class="search__result-list-item">
        <a href="#" title="Перейти на страницу"><span class="search__request">iphone xr</span> чехол</a>
      </li>
      <li class="search__result-list-item">
        <a href="#" title="Перейти на страницу"><span class="search__request">iphone xr</span>Dual SIM</a>
      </li>
    </ul>
    <div class="search__result-info">
      <h3 class="search__result-title">Поиск в категории</h3>
      <ul class="list list--light">
        <li class="list__item">
          <a href="#" title="Перейти на страницу"><span class="search__request">iphone xr</span> в категории</a>
          Смартфоны Apple iPhone
        </li>
        <li class="list__item">
          <a href="#" title="Перейти на страницу"><span class="search__request">iphone xr</span> в категории</a>
          Аксессуары
        </li>
        <li class="list__item">
          <a href="#" title="Перейти на страницу"><span class="search__request">iphone xr</span> в категории Акции</a>
        </li>
      </ul>
    </div>
  </div>
</header>