<div class="main-banner">
  <div class="container main-banner__content">
    <div class="main-banner__text">
      <p class="main-banner__title">Вы тут за этим.</p>
      <a href="#" class="main-banner__link">iPhone 7 от 19 990 ₽</a>
    </div>
    <picture class="main-banner__image-wrapper">
      <source media="(min-width: 1179px)" srcset="img/pic/main-banner@2x.jpg" />
      <source media="(min-width: 0)" srcset="img/pic/main-banner.png" />
      <img alt="iPhone 7 camera" class="main-banner__image" src="img/pic/main-banner@2x.jpg" />
    </picture>
  </div>
</div>