<div class="rating-tab">
  <div class="rating-tab__stars">
    <svg class="rating-tab__star">
      <use xlink:href="img/symbol/sprite.svg#star-green"></use>
    </svg>
    <svg class="rating-tab__star">
      <use xlink:href="img/symbol/sprite.svg#star-green"></use>
    </svg>
    <svg class="rating-tab__star">
      <use xlink:href="img/symbol/sprite.svg#star-green"></use>
    </svg>
    <svg class="rating-tab__star">
      <use xlink:href="img/symbol/sprite.svg#star-green"></use>
    </svg>
    <svg class="rating-tab__star">
      <use xlink:href="img/symbol/sprite.svg#star"></use>
    </svg>
  </div>
  <span class="rating-tab__reviews js-open-review">1&nbsp;отзыв</span>
  <span class="sticker sticker--color-yellow sticker--tabs">Под заказ</span>
</div>