<div class="review frame frame--shadowed frame--rounded">
  <div class="review__top author">
    <span class="author__avatar author__avatar--blue">
      AA
    </span>
    <div class="author__info">
      <p class="author__name">Антон Антонов</p>
      <div class="author__date">12 мая 2019</div>
    </div>
    <div class="author__mark">
      <span>5</span>
      <svg class="author__star">
        <use xlink:href="img/symbol/sprite.svg#author-star"></use>
      </svg>
    </div>
  </div>
  <div class="review__content">
    <p class="review__text">
      Нашёл этот сайт по рекламе в гугл. Довольно долго экономил на новый
      телефон, и тут оказалось, что в этом магазине мог купить смартфон на
      10-15тыс. дешевле чем на том же реСторе, всё это связано с тем, что
      телефон Американский и продаётся у нас в стране под гарантией магазина.
      Телефон мне понравился, покупал его на несколько лет в перёд, ну качество
      материалов смартфона мне нравятся.
    </p>
    <p class="review__text">
      Нашёл этот сайт по рекламе в гугл. Довольно долго экономил на новый
      телефон, и тут оказалось, что в этом магазине мог купить смартфон на
      10-15тыс. дешевле чем на том же реСторе, всё это связано с тем, что
      телефон Американский и продаётся у нас в стране под гарантией магазина.
      Телефон мне понравился, покупал его на несколько лет в перёд, ну качество
      материалов смартфона мне нравятся.
    </p>
  </div>
  <p class="review__link-wrap">
    <span class="review__link">
      Еще
    </span>
  </p>

  <div class="review__images" uk-lightbox="animation: slide">
    <a class="" href="img/pic/review-mobile-1.jpg" title="Увеличить изображение">
      <img src="img/pic/review-mobile-1.jpg" alt="" />
    </a>
    <a class="" href="img/pic/review-mobile-2.jpg" title="Увеличить изображение">
      <img src="img/pic/review-mobile-2.jpg" alt="" />
    </a>
    <a class="" href="img/pic/review-mobile-3.jpg" title="Увеличить изображение">
      <img src="img/pic/review-mobile-3.jpg" alt="" />
    </a>
  </div>
</div>