<div class="subscribe frame frame--shadowed">
  <div class="subscribe__content">
    <h3 class="subscribe__title">Подписаться на&nbsp;рассылку</h3>
    <p>Получайте оповещения об акциях и&nbsp;специальных предложениях</p>
    <form action="" class="subscribe__form">
      <div class="field subscribe__field">
        <label class="field__title" for="">Телефон</label>
        <input class="field__input field__input--shaded field__input--radius-12" type="" name="" id=""
          placeholder="+7" />
      </div>
      <a href="" class="btn btn--bg-orange">Подписаться</a>
    </form>
  </div>
  <div class="subscribe__image-wrap">
    <picture>
      <source srcset="img/subscribe.jpg" media="(min-width: 750px)">
      <img class="subscribe__image" srcset="img/subscribe-mobile.jpg" width="380" height="271" alt="" />
    </picture>
  </div>
</div>