<div class="tabs__wrapper trade-in-tab">
  <div class="tabs__card tabs__card--wrap tab-col tab-col--right">
    <div class="card card--wide trade-in-tab__card">
      <div class="card__image-wrap">
        <img src="img/card-wide.jpg" alt="" class="card__image">
      </div>
      <div class="card__description">
        <h3 class="card__title">Apple&nbsp;iPhone&nbsp;Xs Max 256Gb Gold (MT552)</h3>
        <p class="trade-in-tab__card-price">Цена в Trade-in, от:</p>
        <p class="trade-in-tab__card-value">9&nbsp;990&nbsp;₽</p>
        <a class="btn btn--bg-green trade-in-tab__btn" href="#">Купить</a>
      </div>
    </div>
  </div>
  <div class="tab-col tab-col--left">
    <p class="title tabs-title trade-in-tab__title">Обменяй свой старый iPhone
      на&nbsp;новый iPhone Xr, iPhone Xs,
      или&nbsp;iPhone Xs Max</p>
    <p class="intro trade-in-tab__text trade-in-tab__text--mb-sm">Вам не нужно думать, как и кому продать свой старый
      iPhone,
      мы предоставляем выгодную и честную систему оценки,
      экономим Ваше время и предоставляем возможность
      пользоваться новой моделью уже сейчас!</p>
    <p class="intro trade-in-tab__text trade-in-tab__text--mb-lg">программа выгодного обмена техники на новую с
      доплатой
      разницы, между
      стоимостью нового устройства и оценочной стоимостью старого.</p>
    <p class="intro trade-in-tab__text trade-in-tab__text--mb-lg">По программе TRADE IN Вы можете обменять свой старый
      iPhone 7 / 7+ / 8
      / 8+ / X / Xs / Xs Max, модели iPad и Apple WATCH (не старше 3-x лет), на любое новое устройство Apple
      в нашем магазине. Стоимость доплаты будет зависеть от модели, технического состояния, внешнего вида и
      комплектации вашего устройства. Произвести обмен техники Apple возможно при предъявлении документа
      удостоверяющего личность - паспорт или водительские права.</p>
    <hr />
    <ul uk-accordion="multiple: true" class="accordion tab-faq">
      <li class="accordion__body">
        <a class="uk-accordion-title accordion__title accordion__title--dark" href="#">У вас есть доставка
          за пределы КАД?</a>
        <p class="uk-accordion-content accordion__content">
          Да. Более того, мы можем доставить товар в любую России.
        </p>
      </li>
      <li class="accordion__body">
        <a class="uk-accordion-title accordion__title accordion__title--dark" href="#">Есть ли у курьера
          сдача?</a>
        <p class="uk-accordion-content accordion__content">
          Есть, есть есть да есть сдача есть. Есть, есть есть да есть сдача есть.
        </p>
      </li>
      <li class="accordion__body">
        <a class="uk-accordion-title accordion__title accordion__title--dark" href="#">Курьер поможет
          активировать и настроить устройство?</a>
        <p class="uk-accordion-content accordion__content">
          Есть, есть есть да есть сдача есть. Есть, есть есть да есть сдача есть.
        </p>
      </li>
      <li class="accordion__body">
        <a class="uk-accordion-title accordion__title accordion__title--dark" href="#">Есть ли у курьера
          банковский
          терминал?</a>
        <p class="uk-accordion-content accordion__content">
          Есть, есть есть да есть сдача есть. Есть, есть есть да есть сдача есть.
        </p>
      </li>
      <li class="accordion__body">
        <a class="uk-accordion-title accordion__title accordion__title--dark" href="#">Как перенести
          доставку?</a>
        <p class="uk-accordion-content accordion__content">
          Есть, есть есть да есть сдача есть. Есть, есть есть да есть сдача есть.
        </p>
      </li>
      <li class="accordion__body">
        <a class="uk-accordion-title accordion__title accordion__title--dark" href="#">Могу ли я открыть и
          проверить товар перед оплатой?</a>
        <p class="uk-accordion-content accordion__content">
          Есть, есть есть да есть сдача есть. Есть, есть есть да есть сдача есть.
        </p>
      </li>
      <li class="accordion__body">
        <a class="uk-accordion-title accordion__title accordion__title--dark" href="#">Могу ли я оплатить
          картой курьеру?</a>
        <p class="uk-accordion-content accordion__content">
          Есть, есть есть да есть сдача есть. Есть, есть есть да есть сдача есть.
        </p>
      </li>
      <li class="accordion__body">
        <a class="uk-accordion-title accordion__title accordion__title--dark" href="#">Как оплатить при
          помощи расчетного счета?</a>
        <p class="uk-accordion-content accordion__content">
          Есть, есть есть да есть сдача есть. Есть, есть есть да есть сдача есть.
        </p>
      </li>
      <li class="accordion__body">
        <a class="uk-accordion-title accordion__title accordion__title--dark" href="#">Нужна ли печать для
          забора покупки, оплаченной с помощью расчетного счета?</a>
        <p class="uk-accordion-content accordion__content">
          Есть, есть есть да есть сдача есть. Есть, есть есть да есть сдача есть.
        </p>
      </li>
      <li class="accordion__body">
        <a class="uk-accordion-title accordion__title accordion__title--dark" href="#">Могу ли я оплатить
          при помощи Сбербанк. Онлайн?</a>
        <p class="uk-accordion-content accordion__content">
          Есть, есть есть да есть сдача есть. Есть, есть есть да есть сдача есть.
        </p>
      </li>
      <li class="accordion__body">
        <a class="uk-accordion-title accordion__title accordion__title--dark" href="#">Предоставляете ли
          Вы чек?</a>
        <p class="uk-accordion-content accordion__content">
          Есть, есть есть да есть сдача есть. Есть, есть есть да есть сдача есть.
        </p>
      </li>
    </ul>
  </div>
  <div class="tab-col tab-col--right tab-question">
    <button class="btn btn--radius-s btn--faq">Задать вопрос оператору</button>
  </div>
</div>