<div class="urban">
  <p class="urban__title">Urban Armor Gear — настоящие защитные доспехи для<br />вашего смартфона, 360 градусов защиты!</p>
  <ul class="list list--green">
    <li class="list__item">Спроектирован именно для вашего телефона</li>
    <li class="list__item">Ударопоглощающая ультралегкая композитная конструкция</li>
    <li class="list__item">Кнопки увеличенного размера</li>
    <li class="list__item">Легкий доступ к экрану и портам</li>
    <li class="list__item">Фото без бликов, звук без искажений</li>
    <li class="list__item">Не препятствует работе бесконтактных модулей</li>
    <li class="list__item">Защита при падении в соответствии с военным стандартом MIL STD 810G 516. 6</li>
  </ul>
</div>  