<div class="voting">
    <div class="voting__container">
        <button class="voting__button">
            <svg class="voting__image voting__image--liked">
                <use xlink:href="img/symbol/sprite.svg#finger"></use>
            </svg>
        </button>
        <span class="voting__counter">7</span>
    </div>
    <div class="voting__container">
        <button class="voting__button">
            <svg class="voting__image voting__image--disliked">
                <use xlink:href="img/symbol/sprite.svg#finger"></use>
            </svg>
        </button>
        <span class="voting__counter">1</span>
    </div>
</div>