.uk-accordion-content::before,
.uk-accordion-content::after {
  content: "";
  display: table;
}

.uk-accordion-content::after {
  clear: both;
}

.accordion {
  padding: 0;
  transition: transform 0.5s;

  @include screen(sm) {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    background: #ffffff;
  }
}

.accordion__body {
  list-style: none;
  overflow: hidden;

  &:first-of-type {
    @include screen(sm) {
      border-top: 1px solid #e9ebef;
    }
  }
  &:last-of-type {
    @include screen(smlim) {
      border-radius: 0 0 20px 20px;
    }
  }
  .filter__wrap &:last-of-type {
    @include screen(smlim) {
      border-radius: 20px;
    }
  }
  &:not(:last-of-type) {
    @include screen(smlim) {
      border-bottom: 1px solid #e9ebef;
    }
    @include screen(lg) {
      padding-bottom: 5px;
    }
  }
}

.accordion__title::before {
  content: "";
  position: absolute;
  right: 15px;
  top: 18px;
  display: inline-block;
  transform: rotate(225deg);
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-radius: 3px 0 0 0;
  border-color: $positive;
  transition: transform 0.5s;

  @include screen("sm") {
    top: 13px;
    line-height: 20px;
  }

  @include screen("mdlim") {
    line-height: 19px;
  }

  @include screen("lg") {
    line-height: 19px;
    right: 23px;
  }
}

.uk-open > .accordion__title::before {
  transform: rotate(45deg);
}

.uk-open {
  margin-bottom: 0;

  .accordion__content--spaced-xs {
    margin-bottom: 5px;
  }
}

.filter.uk-open {
  margin-bottom: 6px;
}

.accordion__title {
  display: block;
  position: relative;
  margin: 0;
  font-family: "Closer";
  font-weight: 500;
  line-height: 22px;
  text-decoration: none;
  color: $txt-dark;
  background-color: #fff;

  @include screen("sm") {
    padding: 10px 40px 10px 20px;
    font-size: 14px;
  }

  @include screen("mdlim") {
    padding: 15px 21px;
    font-size: 16px;
  }

  @include screen("lg") {
    padding: 15px 40px 15px 21px;
    border-radius: 6px;
    font-size: 16px;
  }

  &--dark {
    background-color: #f2f3f5;
  }

  &--semibold {
    font-weight: 600;
  }

  &--spaced-xs {
    @include screen("sm") {
      padding: 15px 19px;
    }

    @include screen("mdlim") {
      padding: 15px 19px;
    }

    @include screen("lg") {
      padding: 15px 19px;
    }
  }

  &--caret-small {
    &::before {
      font-size: 10px;
    }
  }
}

.accordion__content {
  font: 500 14px/18px Closer, sans-serif;
  color: $txt-dark;
  background-color: #f2f3f5;

  @include screen("sm") {
    padding: 20px;
  }

  @include screen("md") {
    padding: 20px 50px 15px;
  }

  &--spaced-xs {
    @include screen("sm") {
      padding: 0px 15px 19px 18px;
    }

    @include screen("md") {
      padding: 0px 10px 19px 18px;
    }
  }

  &--bg-white {
    box-shadow: 0 -5px 0 #fff;
    background-color: #fff;
  }
}
