.header__contacts {
  display: flex;
  color: #333;

  @include screen('smlim') {
    padding: 15px;
  }

  @include screen('lg') {
    margin-left: 45px;
  }

  &-icon {

    @include screen('smlim') {
      width: 24px;
      height: 24px;
      fill: #333;
    }

    @include screen('lg') {
      width: 16px;
      height: 16px;
      margin: 5px 0 0;
      fill: #333;
    }
  }

  &-text {
    margin-left: 10px;

    @include screen('smlim') {
      display: none;
    }
  }

  &-number {
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 6px;
  }

  &-info {
    display: block;
    font-size: 10px;
    line-height: 1.25;
    opacity: 0.5;
  }
}