.filter__wrap {
  @include screen('smlim') {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 226px;
    border-radius: 6px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
  }

  @include screen('lg') {
    order: 1;
  }

  &--showed {
    @include screen('smlim') {
      opacity: 1;
      pointer-events: initial;
    }

    &:before {
      content: '';
      position: absolute;
      top: -8px;
      left: 75px;
      border: 8px solid transparent;
      border-top: none;
      border-bottom: 8px solid #fff;
      z-index: 1;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  .accordion {
    @include screen(smlim) {
      box-shadow: none
    }
  }
}

.filter {
  margin-bottom: 5px;

  @include screen(smlim) {
    margin-bottom: 5px;
  }

  @include screen(lg) {
    margin-bottom: 3px;
  }

  .accordion__title::before {
    right: 15px;
  }

  .frame & {
    background: transparent;
  }

  .field {
    position: relative;
    max-width: 70px;
    margin: 0;

    &:first-of-type::before {
      position: absolute;
      content: "";
      top: 45px;
      right: -7px;
      width: 4px;
      border-top: 1px solid #d4d4d4;
    }

    &__wrap {
      @include screen(smlim) {
        flex-direction: row;
      }
    }

    &__input {
      text-align: center;
      padding: 9px 5px 9px 6px;
      font: 12px/normal Roboto;

      &::placeholder {
        opacity: .5;
      }
    }
  }

  &__title {
    margin-bottom: 18px;
    padding: 16px 19px 0 19px;
    font: 500 14px/normal Closer;
  }

  &__list {
    padding: 0 19px;
    margin-bottom: 12px;
  }

  &__item:not(:last-of-type) {
    margin-bottom: 5px;
  }

  &__button-wrap {
    padding: 0 18px 19px;

    .btn--size-xxxxs {
      padding: 1px 15px;
      transition: box-shadow .5s;

      &:hover {
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
      }
    }
  }

  &__btn {
    padding: 3px;
    color: #15d743;
    font-family: Closer;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid #15D743;
    border-radius: 8px;
    transition: color .5s, background .5s;

    &:hover {
      background: #15D743;
      color: #ffffff;
    }
  }

  &__colors {
    display: flex;
    flex-wrap: wrap;
    padding-top: 4px
  }

  &__color:not(:nth-of-type(5n)) {
    margin-right: 5px;
  }

  &__color {
    margin-bottom: 5px;
  }

  &__label {
    display: block;
    text-align: center;
    width: 26px;
    height: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: border .5s;
  }

  &__input:checked+&__label {
    border: 2px solid $positive;
  }

  &__reset {
    border-radius: 15px;
    border: solid 1px #f0f0f0;
    background-color: #E9EBEF;
    font: 500 12px/28px Closer;
    text-align: center;
    margin-top: 9px;
    cursor: pointer;
    transition: box-shadow .5s, color .5s, border .5s;

    &:hover {
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
      border: solid 1px #e9ebef;
      color: #1fc119;
    }
  }

  .accordion__title {
    font-size: 14px;  

    &::before {
      top: 20px;
    }
  }

  .field__title--filter {
    margin-bottom: 8px;
    margin-top: -2px;
    font-size: 12px;
  }
}