.credit {
  text-align: center;

  @include screen("smlim") {
    flex-direction: column;
    padding: 32px 0 70px;
  }

  @include screen("lg") {
    padding: 80px 20px 82px 20px;
  }

  &__title {
    @include screen("smlim") {
      margin-bottom: 27px;
      line-height: 33px;
    }

    @include screen("lg") {
      margin-bottom: 50px;
      line-height: normal;
    }
  }

  &__row {
    @include screen("sm") {
      margin-bottom: 26px;
    }

    @include screen("md") {
      justify-content: center;
      margin-bottom: 30px;

      .credit & {
        flex-direction: row;
      }
    }

    @include screen("lg") {
      margin-bottom: 60px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.credit-term {
  text-align: center;

  @include screen("sm") {
    margin-bottom: 30px;
    line-height: 14px;

    &:last-child {
      margin: 0;
    }
  }

  @include screen("mdlim") {
    margin-right: 50px;
    min-width: 30%;

    &:last-child {
      margin-right: 0;
    }
  }

  @include screen("lg") {
    margin-right: 51px;
    min-width: 25%;

    &:last-child {
      margin-right: 0;
    }
  }

  &--bordered {
    background-color: #fff;
    border-radius: 32px;
    padding: 48px 0 20px;

    @include screen("sm") {
      min-height: 136px;
      margin-bottom: 10px;
      padding: 30px 0 33px;
    }

    @include screen("mdlim") {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    @include screen("lg") {
      margin-right: 60px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__icon {
    height: 52px;
    width: 100%;
    margin-bottom: 25px;
  }

  &__text {
    font-size: 16px;

    @include screen("sm") {
      line-height: 44px;
    }

    @include screen("md") {
      line-height: 26px;
    }

    .credit-term--bordered & {
      font-size: 14px;

      @include screen("sm") {
        line-height: 18px;
      }

      @include screen("md") {
        margin-bottom: 12px;
        line-height: 18px;
      }

      @include screen("lg") {
        margin-bottom: 4px;
        line-height: 10px;
      }

      p {
        color: #808183;

        @include screen("smlim") {
          line-height: 28px;
        }

        @include screen("lg") {
          line-height: 32px;
        }
      }
    }

    &--large {
      @include screen("sm") {
        font-size: 32px;
        line-height: 34px;
      }

      @include screen("mdlim") {
        font-size: 26px;
        line-height: 34px;
      }

      @include screen("lg") {
        font-size: 32px;
        line-height: 52px;
      }
    }
  }
}

.credit-tabs {
  margin-bottom: 7px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;

  @include screen("smlim") {
    padding: 30px 0 4px;
  }

  @include screen("lg") {
    padding: 60px 0px 6px;
  }

  .tabs {margin-bottom: 0;}

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 690px;

    @include screen("smlim") {
      margin: 15px auto 5px;
      padding: 0 12px;
    }

    @include screen("lg") {
      margin: 62px auto 40px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 5px;
      right: 5px;
      height: 1px;
      background-color: #DBDEE4;
    }
  }

  &__tab {
    padding: 0;
    border: none;
    background: #F2F3F5;
    border-radius: 50%;
    font: 600 24px/1 Closer;
    text-align: center;
    color: rgba(#2B2D30, .5);
    transition: color 0.3s, background .5s;
    z-index: 1;

    &:not(:last-of-type)::before {
      content: none
    }

    &:hover {
      color: #4bd964;
      background: #F2F3F5;
      box-shadow: 0 0 0 20px #fff;
    }

    &.tabs__btn--active {
      color: #fff;
      background-color: #15D743;
    }

    @include screen("smlim") {
      padding: 0;
      width: 48px;
      line-height: 48px;
      box-shadow: 0 0 0 10px #fff;

      &.tabs__btn--active {
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08), 0 0 0 10px #fff;
      }
    }

    @include screen("lg") {
      padding: 0;
      width: 68px;
      line-height: 68px;
      box-shadow: 0 0 0 20px #fff;

      &.tabs__btn--active {
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08), 0 0 0 20px #fff;
      }
    }
  }

  &__paragraph {
    @include screen("sm") {
      br {
        display: none;
      }
    }

    @include screen("smlim") {
      font: 600 18px/1.78 Closer;
      line-height: 1.6;
      margin-bottom: 31px;
    }

    @include screen("lg") {
      margin-bottom: 25px;
      font: 600 24px/1.58 Closer;
    }
  }

  &__info {
    margin-bottom: 10px;
    font: 600 14px/1 Roboto;
    opacity: 0.3;
  }

  &__icon {
    height: 60px;
    margin: 5px 0 31px;
  }

  .btn {
    color: #1FC119;
    font-size: 14px;
    width: 220px;
    padding: 10px 0 7px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    cursor: default;

    &__icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 3px;
      margin-bottom: 3px;
      width: 25px;
      height: 25px;
    }
  }

  &__btn-info {
    font-size: 16px;
    line-height: 22px;
  } 

  .tabs__content {
    @include screen("smlim") {
      padding: 24px 5px;
    }
  }
}