.tab-reviews {
  @include screen(sm) {
    display: flex;
    flex-direction: column;
    padding: 13px 0 30px 0;
  }

  @include screen(md) {
    padding: 22px 0 60px 0;
  }

  /* Временный блок, нужно заменить на каточку */
  &__card {
    @include screen(lg) {
      margin-bottom: 20px;
    }
  }

  &__comments {
    @include screen(sm) {
      margin-bottom: 30px;
    }

    @include screen(md) {
      margin-bottom: 30px;
    }
  }

  &__comment {
    &:not(:last-of-type) {
      @include screen(sm) {
        margin-bottom: 10px;
      }

      @include screen(md) {
        margin-bottom: 19px;
      }
    }
  }

  &__pagination {
    @include screen(smlim) {
      margin-top: 30px;
    }

    .pagination__button--gray {
      border: 1px solid #FFFFFF;
      background: #E9EBEF;
    }

    .pagination__button--big {
      background-color: #F2F3F5;
    }


  }

  .tab-col--left {
    @include screen(lg) {
      padding: 0 0 0 8px;
      min-height: 500px;
    }
  }
}

.tab-col--right {
  @include screen(lg) {
    padding-left: 32px;
  }
}

.tab-col--right .form--commented {
  display: none;
}