.tab-faq {
  .tab-col--left {
    background: #f2f3f5;
    border-radius: 20px;

    @include screen(smlim) {
      margin-bottom: 20px;
    }

    @include screen(lg) {
      padding: 15px;
    }
  }

  .title {
    @include screen(lg) {
      margin-bottom: 15px;
    }
  }
}
